<mat-toolbar>
    <mat-toolbar-row style="font-size: 1.5rem;height: 80px;">
      <span>Cadastro de Usuarios <mat-icon>date_range</mat-icon></span>
      <span class="example-spacer"></span>
      <button mat-raised-button><mat-icon>add</mat-icon> Cadastrar</button>
      
      <button mat-raised-button><mat-icon>edit</mat-icon> Alterar</button>
      
      <button mat-raised-button><mat-icon>trash-alt</mat-icon> Excluir</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <app-usuarios-list></app-usuarios-list>